body{
    background-color: white;
    font-family: 'Nunito Semibold';
    text-align: center;
    color: black;
}

#content{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    max-height: 1000px;
    margin: 0 auto;
    height: 100vh;
}
#content div{
    background-color: white;
    border-style: groove;
    border-width: 5px;
    box-shadow: 5px, 10px, black;
    padding: 30px;
}
.inventory{ 
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 7;
}
.game{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}
.itemStat{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 7;
   grid-row-end: 10;
}
.charStat{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 10;
}
.ot{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
}